<div class="container">
  <mat-card-header
    ><h2 *ngIf="show">
      Puede circular: {{ prediction.is_restricted ? "No" : "Si" }}
    </h2></mat-card-header
  >
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field>
        <mat-label>Ingrese Licencia</mat-label>
        <input matInput type="text" [(ngModel)]="query.license_plate" />
        <button
          mat-button
          *ngIf="query.license_plate"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="query.license_plate = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="picker3"
          [value]="query.date"
          (dateChange)="updateDate($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-form-field>
        <mat-label>Seleccione Hora </mat-label>
        <input
          matInput
          [ngxTimepicker]="timePicker"
          [(ngModel)]="query.time"
          [format]="24"
        />
        <ngx-material-timepicker #timePicker></ngx-material-timepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-raised-button (click)="predict()" color="primary">
        Predecir!
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
